# created by virtualenv automatically
.idea/
venv/
.env
allocation.csv
db.sqlite3
.vscode/
env/
celerybeat-schedule
/fixtures
__pycache__/
portal/__pycache__/
eportal/__pycache__/
docs/_build/
docs/_static/
docs/_templates/
static/
.cc_token
.coverage
/htmlcov
runserver.sh